inputSet:
  name: branches
  identifier: branches
  orgIdentifier: default
  projectIdentifier: fisdemo
  pipeline:
    identifier: fisdemo
    stages:
      - stage:
          identifier: deployed
          type: Deployment
          spec:
            environment:
              environmentRef: fisdemodev
              infrastructureDefinitions:
                - identifier: kubernetesdeploy
